---
import Section from "@/components/Section.astro";
import { basics } from "@cv";
const { summary } = basics;
---

<Section title="Sobre mi">

    <div class="container">
        <p>{summary}</p>
    </div>

</Section>