---
import Layout from '@/layouts/Layout.astro';
import Experience from '@/components/Sections/Experience.astro';
import Projects from '@/components/Sections/Projects.astro';
import Skills from '@/components/Sections/Skills.astro';
import About from '@/components/Sections/About.astro';
import Education from '@/components/Sections/Education.astro';
import Hero from '@/components/Sections/Hero.astro';
import KeyBoardManager from '@/components/KeyBoardManager.astro';
import { basics } from '@cv';
const { name, label } = basics;

---

<Layout title={`Portafolio de ${name} - ${label}`}>
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
	</main>
	<KeyBoardManager />
</Layout>

<style>
	main{
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
